# GitHub
GITHUB_TOKEN=your_github_personal_access_token

# Pinterest OAuth
PINTEREST_CLIENT_ID=
PINTEREST_CLIENT_SECRET=
PINTEREST_REDIRECT_URI=http://localhost:4000/auth/pinterest/callback

# DB
DATABASE_URL=postgres://user:password@localhost:5432/pokemon_cards

# Redis
REDIS_URL=redis://localhost:6379

# Server
PORT=4000
FRONTEND_URL=http://localhost:3000
